<% content_for :page_title do %>
  <%= Spree.t(:heading, type: params[:type].to_s.titleize, scope: :insights) %>
<% end %>

<%= javascript_include_tag 'spree/backend/spree_reportify' %>

<%= select_tag :reports, options_for_select(@reports.map { |report_name| [report_name.to_s.humanize, report_name, data: { url: admin_insight_url(report_name, type: params[:type]) }] }), include_blank: 'Select a report', class: 'select2' %>

<div id='report-div'>
</div>

<script type="text/x-tmpl" id="tmpl">
  <table class="table admin-insight tablesorter" id="admin-insight">
    <thead>
      <tr>
        {% for(var i = 0; i < o['headers'].length; i++) { %}
          <th>{%= o['headers'][i].name %}</th>
        {% } %}
      </tr>
    </thead>
    <tbody>
      {% for(var i = 0; i < o['stats'].length; i++) { %}
        <tr>
          {% for(var j = 0; j < o['headers'].length; j++) { %}
            <td>{%= o['stats'][i][o['headers'][j].value] %}</td>
          {% } %}
        </tr>
      {% } %}
    </tbody>
  </table>
</script>
