<% content_for :quick_search_form do %>
  <div class="row">
    <div class="col col-md-6">
      <div data-hook="admin_property_index_search" class="form-group">
        <%= label_tag :keywords_cont, Spree.t(:search_keywords) %>
        <%= text_field_tag 'search[keywords_cont]', '', class: "form-control js-quick-search-target js-filterable" %>
      </div>
    </div>

    <div class="col-md-6">
    </div>
  </div>
<% end %>
